html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */

}
body::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-thumb{
    background:white;
    border-radius: 5px;
}

.hero_banner{
    position: sticky;
    top: 0px;
    background-color: transparent;
    z-index: 10;
}
.image{
    margin: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid rgb(236, 232, 13);
    height: 75px;
    width: 75px;
}
.topBanner{
   background: rgb(6, 6, 6);
   height: 100px;
   display: flex;
   justify-content: space-around;
   /* padding: 1.5rem; */
   /* width: 100px; */
}
.topBanner_navigation {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.nav-links{
    display: flex;
}
.nav_link{
    padding: 4px 12px 4px 16px;
    font-size: 20px;
    color: beige;
    text-decoration:none;
}
.nav_content{
    font-family: 'Courier New', Courier, monospace;
}
.login_signupSection{
    display: flex ;
    align-items: center;
    margin-left:25px ;

}
.login-button{
    padding: 4px 12px 4px 16px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.signup-button{
    margin-left: 10px;
    padding: 4px 12px 4px 16px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;

}
.container{
    display: flex;
    align-items: center;
}
/* Container for animation text starts here. */
.animation_container{
    display: flex;
    flex-direction: row;
}
.page_name{
    /* width: 300px; */
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 40px;
     transform: scale(0.94);
     animation:scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1) ;
 }
 @keyframes scale{

 100%{
    transform: scale(1);
 }
}
.title{
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    color: antiquewhite;
}
#animate_1{
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
#animate_2{
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  /* anmiation of text ends here. */

.nav_content:hover{
    color: red;
    text-shadow: 3px;
    font-size: 1.4rem;
}


/* Main body part starts. */
 
.hero_image{
    background-image: url(./camera-photography.2e16d0ba.fill-1270x600.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    opacity: 1;
}
.hero_text{
    position: relative;
    top: 200px;
    text-align: center;
    color: aliceblue;
    text-size-adjust: 48%;
    font-size: 30px;
}
.para1{
    /* margin-top: 80px; */
    height: 100%;
    background-image:url(./stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.owner_image > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position:relative;
    top: -80px;
    left: 45%;
}
.content{
    color: aliceblue;
    padding: 10%;
}
.content > p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}
.image_section{
    padding:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.image_section>img{
    height: 200px;
    border-radius: 3%;
}
.button_style{
    border: 0;
    line-height: 3;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(239, 0, 0);
    margin-left: 40%;
}
.content>button:hover{
    background-color: crimson;
}
.carrier{
    margin-top: 40px;
}
.courses{
    border-radius: 3%;
    padding: 20px;
    margin-top: 10px;

}

/* animation starts for get enrollment */
.animate_enroll{
   font-size:20px;
   margin-left: 30px;
   animation-name: colourchange;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}
@keyframes colourchange {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

.hoverimage:hover{
    opacity:0.3;
}
.competition_section{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}
.underline
{
    /* border-top: 3px solid white;
    padding-left: 10%;
    margin-left: 56px;
     */

    text-decoration: underline;
    text-underline-offset: 5px;
}
.animate_pictures{
    height:200px;
    width: 341px;
    position: relative;
    left:30%;
    margin-top: 30px;
    animation-name: picturechange;
    animation-duration: 8s;
    /* animation-delay: 8s; */
    animation-iteration-count: infinite;
}
@keyframes picturechange {
    0%{background-image: url(./tiger.jpg); background-size: cover; background-repeat: no-repeat;}
    25%{background-image: url(./hawk.jpg); background-size: cover; background-repeat: no-repeat;}
    50%{background-image: url(./lightgirl.jpg); background-size: cover; background-repeat: no-repeat;}
    75%{background-image: url(./pexels-pixabay-274973.jpg); background-size: cover; background-repeat: no-repeat;}
    100%{background-image: url(./pexels-photo-105254.jpeg); background-size: cover; background-repeat: no-repeat;}
}
/* last section which contains my address,a way to mail me,facebook,instagram,linkedin,snapchat,the copywrite signature,collaboration with udemy */
#last_section
{
    background-color: #040c22;
    height:400px;
    color: aliceblue;

}
.title2{
    margin-left: 37%;
    padding-top: 40px;
}
.title_last>span{
   font-family: Comic Sans MS, Comic Sans, cursive;
}
.email_contactme{
    margin-top: 30px;
    text-align: center;
    padding-right: 125px;
}
.email_contactme>a{
    text-decoration: none;
    color: aliceblue;
}

.contact_icons{
    text-align: center;
    padding-right: 125px;
    margin-top:10px;
}
.contact_icons > a >img{
    height: 20px;
}
.Address_myself{
    word-wrap: normal;
    text-align: center;
    padding-right: 125px;
    margin-top: 20px;
}
.Footer{
    text-align: center;
    padding-right: 125px;
    margin-top:110px;
}
.Registration_form-outer{
    background-image: url(./stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.Registration_form-inner{
    padding: 15%;
    height: 100%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: aliceblue;
}
.Registration_form-inner > h1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;

}
#red{
    color: red;
}
.form_elements{
    text-align: center;
}
.text_box{
    margin-bottom: 20px;
}
.file_box{
    margin-left: 76px;
    margin-top: 10px;
}
.submit_box > input{
    margin-top:30px;
    padding: 15px;
    text-decoration: none;
    box-shadow: inset;
    border-radius:20px;
    color:white;
    background-color: #040c22;
}



.gallery_main{
    background-image:url("./stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery_innermain{
    padding: 3%;
}






